/* Globální styly */
:root{
    
    --grey: #393E46;
    --darkgrey: #222831;
    --yellow: #FFD369;
    --text: white;
    --lightgrey: #F3F3F3;
    --darkergrey: #D2D2D2;
    --menuHeight:  120px;
    --footerHeight: 100px;
    --sumasumarum: calc( var(--footerHeight) + var(--menuHeight));
}
@media only screen and (max-width: 800px){
    :root{
        --menuHeight: 90px;

    }

}
@font-face {
    font-family: 'fontLOGO' ;
    src: url('./fontLOGO.otf');
}

@font-face{
    font-family: 'roboto';
    src: url('./roboto.ttf');
}

@font-face{
    font-family: 'robotothic';
    src: url('./robotolista.ttf');
}


html, body{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: var(--yellow);
    font-family: roboto;
    min-width: 300px;
    overflow: hidden;
}

a{
    display: block;
    text-decoration: none;
    color: black;

}

button{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    cursor: pointer;
    outline: none;
}
input{
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;
    outline: none;
    -webkit-appearance: none;
}
