/* Globální styly */
:root{
    
    --grey: #393E46;
    --darkgrey: #222831;
    --yellow: #FFD369;
    --text: white;
    --lightgrey: #bababa;
    --pozadi: rgba(63, 63, 63, 0.3);;
    --menuHeight:  120px;
    --footerHeight: 100px;
    --sumasumarum: calc( var(--footerHeight) + var(--menuHeight));
}
@media only screen and (max-width: 800px){
    :root{
        --menuHeight: 90px;

    }
  
}
@font-face {
    font-family: 'fontLOGO' ;
    src: url('./fontLOGO.otf');
}

@font-face{
    font-family: 'roboto';
    src: url('./roboto.ttf');
}

@font-face{
    font-family: 'robotothic';
    src: url('./robotobold.ttf');
}

body{
    color: white;
}

html, body{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: var(--yellow);
    font-family: roboto;
    min-width: 300px;

}
.pozadi{
    position: relative;
}
a{
    display: block;
    text-decoration: none;
    color:white;

}

button{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    cursor: pointer;
    outline: none;
    background: none;
    font-family: roboto;
}

input{
    font-family: roboto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;
    outline: none;

}
